# Python virtual environment
venv/
.env/
.venv/

# Folder to ignore
TencentGR_1k/
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
